body {
    margin:0;
    padding:0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.animate-fade-in-delay {
  animation: fade-in 1s ease-out 0.3s both;
}


.scrollbar-personalizada::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-personalizada::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-personalizada::-webkit-scrollbar-thumb {
  background: #f00f0f;
}

.scrollbar-personalizada::-webkit-scrollbar-thumb:hover {
  background: #f63c3c;
}